[Unit]
Description=awsautodns

[Service]
Type=oneshot
ExecStart=/bin/sudo /opt/awsautodns/lua /opt/awsautodns/awsautodns.lua
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
